.controls {
  display: flex;
  flex-direction: column;
  
  .btn-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161618;
    box-shadow: 0 16px 28px 0 rgba(99,99,99,.2);

    button {
      color: #ff9c1b;
      background-color: inherit;
      padding: 13px 20px !important;
      border: 0;

      &:hover {
        color: #ffffff;
      }
    }

    .track-title {
      color: #ffffff !important;
      font-size: 12px !important; 
      width: 100%;
      max-width: 40%;
    }
  }

  .progress-container {
    height: 5px;
    width: 100%;

    .progress {
      height: 100%;
      width: 0;
      background-color: #ff9c1b; /* 0091ff */
    }
  }
}