*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: linear-gradient(to right bottom, rgb(32, 31, 34), rgb(18, 18, 19) 50%, rgb(22, 22, 24) 100%);
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  background-color: #2a2a2c;
  overflow-x: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.bottom-banner {
  width: 100%;
  height: 10vh;
  background-color: #161618;
  display: flex;
  z-index: 1;
  form {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;  

    input {
      width: 90%;
      padding: 15px;
      background-color: rgb(22, 22, 24);
      color: #ffffff;
      border: 0;
      outline: none;
    }


    button {
      padding: 15px;
      border: 0;
      color: #fff;
      text-transform: uppercase;
    }
  }

  button {width: 10%;height: 100%; background-color: #161618; color: #ffffff; border: 0;}
}

.player {
  width: 100%;
  height: 90vh;
  max-height: 90vh;
}

ul {
  width: 100%;
  height: 90%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;

  li {
    padding: 10px 15px;
    font-size: 12px;
    border-bottom: 2px solid #232324;
    cursor: pointer;

    &:hover {
      background-color: #212125;
    }
  }

  button {
    color: #d30000;
    background-color: inherit;
    border: 0;

    &:hover {
      color: #ff9c1b;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(22, 22, 24);
  box-shadow: 0 16px 28px 0 rgba(99, 99, 99, 0.2);
  padding-right: 15px;
  button {
    color: #ff9c1b;
    background-color: inherit;
    padding: 13px 20px !important;
    border: 0;

    &:hover {
      color: #ffffff;
    }
  }

  p {
    color: #ffffff !important;
    font-size: 12px;
  }
}

button,
li {
  cursor: pointer;
  outline: none;
  transition: color .1s, background-color .2s;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-sp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-col-sp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.w-10 {
  width: 10%;
}

.h-100 {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.h-10 {
  height: 10%;
}

.h-70 {
  height: 70%;
}

.h-30 {
  height: 30%;
}

.m-0 {
  margin: 0 !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.bg-orange {
  background-color: #ff9c1b !important;
}

.about {
  padding: 10px 30px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #171717;
  text-align: center;
  border-radius: 5px;
}

a {
  color: #4643ff;
  text-decoration: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #474141;
}

::-webkit-scrollbar-thumb {
  background: #696969;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d1e1f;
}